# Byte-compiled / optimized / DLL files
controller/__pycache__/
__pycache__/
*.py[cod]
*$py.class
# Ignore checking.html in templates folder
/templates/checking.html
/templates/check-table.html

# Local development settings
instance/
*.env

# Logs and databases
*.log
*.sqlite

# Environment variables
.env

# Dependencies
venv/
system_32/
summarize/